<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- Folder, w którym będą zapisywane logi -->
  <variable name="logDirectory" value="d:\Projekty\0_Nowe\logs\MyGameShopLogs" />
  <variable name="exceptionLogDirectory" value="d:\Projekty\0_Nowe\logs\MyGameShopLogs-Exceptions" />

  <targets>
    <!-- Logowanie do pliku (każdy dzień nowy plik) -->

    <target xsi:type="File" name="exceptions"
         fileName="${exceptionLogDirectory}/log_${shortdate}.log"
         archiveFileName="${logDirectory}/archive/log_{#}.log"
         archiveEvery="Day"
         archiveNumbering="Rolling"
         maxArchiveFiles="7"
         layout="${longdate} | ${level:uppercase=true} | ${message} ${exception:format=tostring}" />
    
    <target xsi:type="File" name="fileLog"
            fileName="${logDirectory}/log_${shortdate}.log"
            archiveFileName="${logDirectory}/archive/log_{#}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="7"
            layout="${longdate} | ${level:uppercase=true} | ${message} ${exception:format=tostring}" />
  </targets>

  <rules>
    <!-- Logowanie wszystkich poziomów (od Trace do Fatal) do pliku -->
    <logger name="*" minlevel="Trace" writeTo="fileLog" />
    <logger name="MyGameShopApi.*" minlevel="Error" writeTo="exceptions" />
  </rules>

</nlog>